#agenda
{
    width:245px;
    float:right;
    background-color:rgba(0, 70, 139, 0.5);
    color:#ffffff;
    position: fixed;
    top: 150px;
    right: -215px;
    z-index: 99999;
}

#agenda ol
{
    margin: 0px;
    padding: 0px;
}

#agendaHeader
{
    width:250px;
    height:40px;
    float:left;
    background: url("../images/agenda.png") no-repeat left center;
    background-position: 5px 30%;
    text-align: center;
}

.tribe-events-list-widget ol li 
{
    width:250px;
    text-align:left;
    margin: 10px 0px 0px;
    float: left;
}

#agenda a, #agenda a:hover, #agenda a:visited
{
    color: white;
}

#agenda a:hover
{
    text-decoration: underline;
}

.agendaDag
{
    font-size: x-large;
    margin: 0px;
}

.agendaMaand
{
    font-size: small;
    margin: -7px 0px 0px 3px;
}

.agendaTijd
{
    text-align: center;
}

#agenda h4
{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.agendaLeftBox
{
    float: left;
    width: 10px;
    margin: 0px 23px 0px 2px;
}

.agendaRightBox
{
    float: left;
    width: 203px;
    margin-right: 7px;
}

.tribe-events-widget-link
{
    padding-top: 25px;
    clear: both;
}

#agenda>p
{
    text-align: center;
}